{:definitions {"demo.core/main" ["defn" "main" [] ["println" "|main"] ["run-1"]], "demo.core/run-1" ["defn" "run-1" [] ["println" "|run 1 quickly"]]}, :namespaces {"demo.core" ["ns" "demo.core" [":require" ["[]" "clojure.string" ":as" "string"]]]}, :main-definition "demo.core/main", :procedures {"demo.core" [["println" "1"] ["println" "4"]]}}